{% extends 'base.html' %}
{% load static %}
{% block feature %}
<!-- start of post -->
<div class="post-container">
    <img class="featured_img" src="{{ article.image.url }}">
    <!-- start article details -->
    <div class="article-info">
      <div class="article-info-content display-center">
        <div class="display-center">
          <img class="author-pic" src="{{ article.author.profile_pic.url }}" alt="">
          <h6>by {{ article.author }} on {{ article.publish|date:"D M Y" }}</h6>
        </div>
        
        <div class="article-meta">
          {% for tag in article.tags.all %}
          <span class="tag"><a href="#">{{ tag.name }}</a></span>
          {% endfor %}
          <a class="back-button" href="{% url 'blog:articles' %}">All Articles</a>
        </div>
      </div>
    </div>
    <!-- end of article details -->
    <hr>   
    <h1>headline</h1>
    <h4>sub_headline</h4>
    <br>
    <p>{{ article.body|safe }}</p>
</div>
<!-- end of post -->
{% endblock feature %}